*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}


.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.heading{
    text-align: center;
    margin-top: 20px;
}

.player{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.menu-container{
    width: 100%;
    background-color: black;
    border-bottom: 2px solid  rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-items::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-items {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 


.menu-items{
    /* overflow-y: hidden; */
    overflow-x: auto;
    position: relative;
}

.menu-items ul{
    width: 100%;
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 1.5rem;
    user-select: none;
    white-space: nowrap;
}
.menu-items ul li{
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}
.menu-items ul li:hover{
    background-color: white;
    color: black;
}
.menu-items .active{
    background-color: white;
    color: black;
}

.menu-btn{
    height: 42px;
    background-color: black;
    color: white;
    font-size: 2rem;
}
.menu-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.next{
    border-left: 2px solid black;
    border-top-right-radius: 2px;
}
.prev{
    border-right: 2px solid black;
    border-top-left-radius: 2px;
}


/* SORTING CONTAINER  */
.sorting-container{
    width: 100%;
    min-height: 350px;
    border-bottom: 2px solid black;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 50px;
    position: relative;
}

.sort-items{
    background-color: black;
    position: absolute;
    left: 50px;
    bottom: 0;
}

/* PLAYER CONTROL */
.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.theme-container{
    width: 260px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.player-controller{
    display: flex;
    align-items: center;
}
.array-size{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffle{
    font-size: 25px;
    cursor: pointer;
}

.play-pause-btn{
    margin: 0 5px;
}
.play-pause-btn svg{
    width: 45px;
    fill: black;
    cursor: pointer;
    transition-duration: 300ms;
}
.play-pause-btn svg:hover{
    transform: scale(1.2, 1.2);
}
.rewind{
    width: 30px;
}
.rewind i{
    font-size: 30px;
    cursor: pointer;
}
.speedup{
    width: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.speedup i{
    font-size: 21px;
    cursor: pointer;
}
.speedup span{
    position: absolute;
    left: 21px;
}
.theme{
    padding: 2px 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.theme i{
    font-size: 30px;
}
.array-size-mobile{
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.duration{
    width: 100%;
    height: 2px;
    /* background-color: #005dff; */
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* box-shadow: 0px 2px 5px #005dff, 0px -2px 5px #005dff; */
    box-shadow: 2px 2px 5px black, 2px -2px 5px black;
}

.array-size-slider{
    margin-left: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
}
.array-size-slider:hover {
    opacity: 1;
}
.array-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
  
.array-size-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.array-size-select{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
}


/* Heart Counter Styles */

.heart-wrapper{
    width: 16px;
    height: 20px;
    /* margin: 0 10px; */
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.heart{
    display: inline-block;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.heart-shadow{
    display: inline-block;
    color: rgba(17, 16, 16, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.heart-fly{
    display: inline-block;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.contribution{
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}
.contribution a{
    color: rgb(15, 106, 192);
}
.contribution div{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .container{
        padding: 0 40px;
    }
    .theme-container{
        width: inherit;
    }
    .theme{
        display: none;
    }
    .array-size{
        display: none;
    }
    .array-size-mobile{
        display: block;
    }
    .sorting-container{
        padding: 0 0px;
    }
    .sort-items{
        left: 20px;
    }
    .menu-items ul li{
        width: 100%;
    }
  }
@media only screen and (min-width: 601px){
    .menu-items ul li{
        width: initial;
    }
}
@media (hover: none){
    .menu-btn:hover{
        background-color: black;
        color: white;
    }
}